<div fxLayout="row">
<mat-card class="faq-card" fxFlex="30">
  <mat-card-title>Total Subscribers</mat-card-title>
  <mat-card-content>
    {{totalSubscribers}}
  </mat-card-content>
</mat-card>
<mat-card class="faq-card" fxFlex="70" fxFlexOffset="20px">
  <mat-card-header>
    <mat-card-title><mat-icon class="card-icons">help</mat-icon> FAQ</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            How do I subscribe to new notifications?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Make sure you log in (top right link). From there, click items in the left most menu. Filter by items you
        want at the top, then click the subscribe button on the right side of the table. This will save your subscription
        and send you an email the next time the item is in stock</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            How can I request new items be added?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>For now, this is still manual. Please submit a issue at
          <a href="https://github.com/elliott-davis/HomegymInStock/issues">Homegym In Stock</a>.
        Currently the site is only configured to scrape Rogue and Ironmaster, but I'm hoping to add more soon.
        </p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            How can I support the cause?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>If this service has helped you, please also feel free to donate at
          <a href="https://paypal.me/excellentio">paypal.me/excellentio</a>. Server costs aren't free and every bit helps.</p>
        <p>Second, thanks to <a href="https://github.com/jonniechow">Jonnie Chow</a> for Rogue Stock Bot. A lot of the
          scraping code this service uses was derived from his work. Please support him as well.
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
</div>
